# Importing Library

In [1]:
from collections import defaultdict

# Member Class

In [2]:
class Member:
    def __init__(self, name, age, happiness_score):
        self.name = name
        self.age = age
        self.happiness_score = happiness_score

# Member Data

In [4]:
members = [
    Member('Bipsy', 25, 8),
    Member('Anjalo', 30, 7),
    Member('Aljo', 25, 6),
    Member('Aleena', 30, 9),
    Member('Annmariya', 35, 8),
    Member('Alwin', 35, 7)
]

# Age Grouping and Happiness Score Yielding in Map Function

In [5]:
def map_function(member):
    age_group = str(member.age // 10 * 10) + 's'
    yield age_group, member.happiness_score

# Aggregating Happiness Scores by Age Group in Mapped Data

In [7]:
mapped_data = defaultdict(list)
for member in members:
    for key, value in map_function(member):
        mapped_data[key].append(value)

# Calculating Average Happiness Scores by Age Group in Reduce Function

In [8]:
def reduce_function(age_group, happiness_scores):
    average_score = sum(happiness_scores) / len(happiness_scores)
    yield age_group, average_score

# Computing Final Average Happiness Scores per Age Group

In [9]:
result = {}
for age_group, scores in mapped_data.items():
    for key, value in reduce_function(age_group, scores):
        result[key] = value

print(result)

{'20s': 7.0, '30s': 7.75}